<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ activeUser.name }} {{ activeUser.surname }}</ion-title>
    <button class="ion-activatable ripple-parent" slot="end" (click)="onLogout()">
      Logout<ion-icon name="key"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card-content>
  <ion-button [routerLink]="['./client-records']">Client records</ion-button>
  <ion-button [routerLink]="['./scans']">Scan records</ion-button>
</ion-card-content>
<ion-searchbar placeholder="Search employees by name here" [(ngModel)]="queryString" (ionInput)="updateList($event.target.value)" >
</ion-searchbar><br/><br/><br/>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list size="12">
        <ion-col size="12">
          <ion-item>Refresh list
            
            <ion-button (click) = "refreshList()">
              <ion-icon name="refresh-sharp"></ion-icon>
            </ion-button>
          <ion-button slot="end" [routerLink]="['./add-user']">Add new<ion-icon name="person-add-outline"></ion-icon></ion-button>
          </ion-item>
        <ion-item>
          <ion-label>Employee ID</ion-label>
          <ion-label>Name</ion-label>
          <ion-label>Surname</ion-label>
          <ion-label>Assignment</ion-label>
        </ion-item>
        <ion-item *ngFor="let emp of employees" [routerLink]="['./', emp._id]">
            <ion-label>{{ emp._id }}</ion-label>
            <ion-label>{{ emp.name }}</ion-label>
            <ion-label>{{ emp.surname }}</ion-label>
            <ion-label>{{ emp.clientName }}</ion-label>
        </ion-item>
      </ion-col>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-item>Hybrid Attendance Tracker</ion-item>
  </ion-toolbar>
</ion-footer>